.pseudo{
    height: 25px;
    width: 150px;
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 15px
}
.pseudo:hover{
    height: 30px;
    width: 155px;
    background-color: rgb(162, 162, 212);
    border: rgb(162, 162, 212);
}
.pseudo:active{
    height: 30px;
    width: 155px;
    background-color: rgb(55, 55, 121);
}